*{
	margin:0px;
	border: 0px;
	padding: 0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-family: "DINPro", "PingFang SC", "Noto SansCJK","Hiragino Sans GB",STHeiti,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
ul, li {
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
	width: 100%;
	height: auto;
}